

@import url('dialog.css');



/* Farbsetzung - Rot */


.dialog_main .dialog_inner .dialog_header {
    background-color:   #b46d78;
    border-color:       #983b4b;
}

.dialog_main .dialog_inner .dialog_content .dialog_footer input {
    background-color:   #983b4b;
    border-color:       #862f3e;
    box-shadow:         inset 0 1px 0 #b46d78;
}

.dialog_main .dialog_inner .dialog_content .dialog_footer input:active {
    background-color: #b46d78;
}


